<nav id="nav" role="nav">
    <ul id="home-menu" class="list-unstyled">
        {{^is "home"}}
            <li><a href="/">Home</a></li>
        {{/is}}
        <li><a href="/about-me">About me</a></li>
        {{#is "home"}}
          <li><a href="#content">Posts</a></li>
        {{/is}}
        <li><a href="/contacts">Contacts</a></li>
    </ul>
</nav>
