<section id="social">
    <a target="_blank" href="https://www.github.com/jonforest"><span class="ion-social-github"></span></a>
    <a target="_blank" href="https://nz.linkedin.com/in/jon-hollingsworth-6b13145"><span class="ion-social-linkedin"></span></a>
    <a target="_blank" href=""><span class="ion-social-twitter"></span></a>
    <a target="_blank" href="#"><span class="ion-social-facebook"></span></a>
</section>
